/* GENERAL */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  /* reset margin and padding defaults */
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
}

p {
  color: rgb(85, 85, 85);
}

/* NAV */
nav,
.nav-links {
  display: flex;
}

nav {
  justify-content: space-around;
  align-items: center;
  height: 17vh;
}

.nav-links {
  gap: 2rem;
  list-style: none;
  font-size: 1.5rem;
}

a {
  color: black;
  text-decoration: none;
  text-decoration-color: white;
}

a:hover {
  color: grey;
  text-decoration: underline;
  text-decoration-color: rgb(181, 181, 181);
  text-underline-offset: 0.5rem;
}

.logo {
  font-size: 2rem;
}

.logo:hover {
  cursor: default;
}

/* MENU MOBILE */
#nav-mobile {
  display: none;
}

.menu {
  position: relative;
  display: inline-block;
}

.menu-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 30px;
  cursor: pointer;
}

.menu-icon span {
    width: 100%;
    height: 2px;
    background-color: black;
    transition: all 0.3 ease-in-out;    
}

.menu-links {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: white;
    width: fit-content;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3 ease-in-out;
}

.menu-links a {
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
    color: black;
    text-decoration: none;
    transition: all 0.3 ease-in-out;
}

.menu-links li{
    list-style: none;

}

.menu-links.open {
    max-height: 300px;
}

.menu-icon.open span:first-child{
    transform: rotate(45deg) translate(10px,5px);
}

.menu-icon.open span:nth-child(2){
    opacity: 0;
}

.menu-icon.open span:last-child{
    transform: rotate(-45deg) translate(10px,-5px);
}

.menu-icon span:first-child {
    transform: none;
}

.menu-icon span:first-child {
    opacity: 1;
}

.menu-icon span:first-child {
    transform: none;
}

/* SECTIONS */
section {
  padding-top: 4vh;
  height: 96;
  margin: 0 10rem;
  box-sizing: border-box;
  min-height: fit-content;
}

.section-container {
  display: flex;
}

/* PROFILE */
#profile {
  display: flex;
  justify-content: center;
  gap: 5rem;
  height: 80vh;
}

.sectionPicContainer {
  display: flex;
  height: 400px;
  width: 400px;
  margin: auto 0;
}

.sectionText{
  align-self: center;
  text-align: center;
}

.sectionText p{
  font-weight: 600;
}

.sectionText_p1 {
  text-align: center;
}

.sectionText_p2 {
  font-size: 1.75rem;
  margin-bottom: 1rem;
}

.title {
  font-size: 3rem;
  text-align: center;
}

#socialsContainer {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 1rem;
}

/* ICONS */
.icon {
  cursor: pointer;
  height: 2rem;
}

/* BUTTONS */
.btnContainer {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

button {
  font-weight: 600;
  transition: all 150ms ease;
  padding: 1rem;
  width: 8rem;
  border-radius: 2rem;
}

.btnColor1, .btnColor2 {
  border: rgb(53,53,53) 0.1rem solid;
}

.btnColor1:hover, .btnColor2:hover {
  cursor: pointer;
}

.btnColor1, .btnColor2:hover {
  background-color: rgb(53,53,53);
  color: white;
}

.btnColor1:hover {
  background: rgb(0,0,0);
}

.btnColor2 {
  background: none;
}

.btnColor2:hover{
  border: rgb(255,255,255) 0.1rem solid;
}

.btnContainer {
  gap: 1rem;
}


/* TRANSITION */
a,
.btn {
  transition: all 150ms ease;
}


