---
import Layout from "../layouts/Layout.astro";
import Badge from "../components/Badge.astro";
import GithubIcon from "../icons/Github.astro";
import SocialPill from "../components/SocialPill.astro";
import LinkedinIcon from "../icons/Linkedin.astro";
import GmailIcon from "../icons/Gmail.astro";
import CodeIcon from "../icons/Code.astro";
import Experience from "../components/Experience.astro";
import SectionContainer from "../components/SectionContainer.astro";
import Projects from "../components/Projects.astro";
import DownloadIcon from "../icons/Download.astro";
import School from "../icons/School.astro";
---

<Layout
  title="Portfolio de Pedro - Ingeniero Informático"
  description="Contrata a Pedro para crear soluciones unicas e innovadoras en el sector informático."
>
  <main class="px-4">
    <SectionContainer class="py-32 pb-22">
	<div class="flex gap-6">
      <img
        class="flex rounded-full size-16 mb-4"
        src="/pedroFoto.jpeg"
        alt="pedro photo"
      />
      <a
        href="https://www.linkedin.com/in/pedrobusta"
        target="_blank"
        class="flex justify-center items-center"
        ><Badge>Disponible para trabajar</Badge></a
      >
	</div>
      <h1
        class="text-white text-2xl lg:text-5xl font-bold flex flex-row gap-x-2 pb-6 lg:pb-6"
      >
        Hey, soy Pedro
      </h1>
      <h2 class="text-xl lg:text-xl text-wrap max-w-[700px]">
        <span class="text-yellow-200/90">Ingeniero Informático</span> <span class="opacity-75"> en Mallorca,
          España. Especializado en crear soluciones únicas e innovadoras.
        </span>
      </h2>

      <nav class="flex gap-2 mt-10 text-wrap">
        <SocialPill href="https://www.linkedin.com/in/pedrobusta/">
          <LinkedinIcon class="size-4 md:size-4" />
          LinkedIn
        </SocialPill>
        <SocialPill href="https://github.com/pedrobusta">
          <GithubIcon class="size-4 md:size-4" />
          Github
        </SocialPill>
        <SocialPill href="mailto:pedrobustamanted@gmail.com">
          <GmailIcon class="size-4 md:size-4" />
          Mail
        </SocialPill>
      </nav>
    </SectionContainer>
    <div class="space-y-24">
      <SectionContainer id="proyectos">
        <h2 class="text-3xl font-semibold mb-6 flex gap-x-4 items-center">
          <CodeIcon class="size-7" />
          Proyectos
        </h2>
        <Projects />
      </SectionContainer>

      <SectionContainer id="formacion">
        <h2 class="text-3xl font-semibold mb-6 flex gap-x-4 items-center">
          <School class="size-6" />
          Formación
        </h2>
        <Experience />
      </SectionContainer>
    </div>
  </main>
</Layout>
