<header class="flex justify-center py-5 w-full xl:w-[1120px] mx-auto">
    <nav class="flex flex-row gap-x-5 opacity-80 border rounded-full border-white/10 pb-1 pt-1 pl-5 pr-5">
        <a href="#top">Inicio</a> 
        <a href="#proyectos">Proyectos</a> 
        <a href="#sobre-mi">Sobre mí</a> 
        <a href="#formacion">Formación</a> 
        <a href="#contacto">Contacto</a> 
    </nav>
</header>